<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <property name="log.path" value="d:\\Workspaces\\logback\\" />
    <property name="log.name" value="info.log"/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--过滤日志-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>-->
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%c] : %L - %m%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}${log.name}</file>
        <append>true</append><!--日志追加到文件结尾-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory><!--保留天数-->
            <totalSizeCap>150MB</totalSizeCap><!--文件上限大小-->
        </rollingPolicy>
        <!-- 超过150MB时，触发滚动策略 -->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>150</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%c] : %L - %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!-- 用来设置某一个包或者具体的某一个类的日志打印级别,additivity是否向上级传递log信息-->
    <logger name="springboot.controller"/>
    <!--<logger name="springboot.controller.LoginController" level="WARN" additivity="false">
        <appender-ref ref="console"/>
    </logger>-->

    <!-- 文件名称不是logback.xml,想使用spring扩展profile支持,要以logback-spring.xml命名 -->
    <!-- 测试环境+开发环境,多个使用逗号隔开. -->
    <springProfile name="test,dev">
        <logger name="springboot.controller" level="INFO" />
    </springProfile>
    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="springboot.controller" level="ERROR" />
    </springProfile>
</configuration>