<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.mapper.UserMapper">

    <resultMap id="resultMap" type="springboot.pojo.User">
        <id column="id" property="id" jdbcType="BIGINT"  />
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="column">id,password,name,username</sql>

    <select id="getUserList" resultMap="resultMap">
        select
        <include refid="column" />
        from user
    </select>

    <select id="getUser" resultMap="resultMap" parameterType="java.lang.String">
        SELECT
        <include refid="column" />
        FROM user
        WHERE username = #{username}
    </select>

    <!--对应 @KeySql(useGeneratedKeys = true)，JDBC支持通过 getGeneratedKeys 方法取回主键的情况-->
    <!--<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into country (id, countryname, countrycode)
        values (#{id},#{countryname},#{countrycode})
    </insert>-->

    <!--对应 @KeySql(dialect = IdentityDialect.MYSQL)-->
    <!--<insert id="insertUser">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user
        <include refid="column"/>
        values (#{id},#{password},#{name},#{username})
    </insert>-->
</mapper>